### Imports

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Loading our Data

In [5]:
con = sqlite3.connect("RecipeDB.db")
#cur = con.cursor();

sql = "SELECT * FROM Recipe ;"
df = pd.read_sql(sql,con)

## A glance of the Data

In [6]:
df.head()

,recID,recName,recHeadline,recDisc,recDifficulty,recServingSize,recLink,recRating,recRatingCount,recSteps,recTime
0,53f45a29ff604dac328b456e,Pikante Paprika-Bratwurst Pfanne,auf Petersilien-Couscous,Dieses Gericht zaubert Dir nicht nur optisch A...,2,0,https://ddw4dkk7s1lkt.cloudfront.net/card/53f4...,3.1,765,6,35
1,5469feafff604d2c8b8b4569,Gnocchi-Paprika-Mozzarella Auflauf,verfeinert mit frischem Basilikum,"Tu Dir was Gutes! Unser Soul Food hilft Dir, s...",1,600,https://ddw4dkk7s1lkt.cloudfront.net/card/gnoc...,2.8,1012,6,30
2,54c91e3e6ced6e5f178b4571,Steak mit gebratenen Topinambur-Kartoffelecken,Rosmarin und Lauchcremesoße,"Topinambur kann man roh oder gegart essen, und...",2,0,https://ddw4dkk7s1lkt.cloudfront.net/card/54c9...,3.3,1186,7,40
3,54c91e716ced6e39178b456c,Hähnchenoberkeule auf Ofengemüse,verfeinert mit Sesam und Erdnusssoße,Kohlenhydratarm und proteinreich! Vor allem Pr...,2,0,https://ddw4dkk7s1lkt.cloudfront.net/card/54c9...,3.3,1194,7,30
4,54c91ed56ced6e5f178b4572,Valentinstagsquiche,"mit zweifarbigen Karotten, Zucchini und Rucola...",Der Valentinstag! Für viele wohl eine Erfindun...,3,0,https://ddw4dkk7s1lkt.cloudfront.net/card/54c9...,2.6,1407,8,30

In [8]:
df.shape

(3051, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3051 entries, 0 to 3050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   recID           3051 non-null   object
 1   recName         3051 non-null   object
 2   recHeadline     3034 non-null   object
 3   recDisc         3051 non-null   object
 4   recDifficulty   3051 non-null   int64
 5   recServingSize  3051 non-null   int64
 6   recLink         3051 non-null   object
 7   recRating       3051 non-null   float64
 8   recRatingCount  3051 non-null   int64
 9   recSteps        3051 non-null   int64
 10  recTime         3051 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 262.3+ KB

In [10]:
df.describe()

,recDifficulty,recServingSize,recRating,recRatingCount,recSteps,recTime
count,3051.000000,3051.000000,3051.000000,3051.000000,3051.000000,3051.000000
mean,1.640774,436.049820,2.865225,368.447394,5.902327,42.145526
std,0.603891,328.445059,1.099237,448.387338,1.027634,17.364741
min,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000
25%,1.000000,0.000000,3.000000,50.000000,6.000000,30.000000
50%,2.000000,550.000000,3.300000,164.000000,6.000000,35.000000
75%,2.000000,650.000000,3.400000,545.000000,6.000000,50.000000
max,3.000000,6000.000000,4.000000,3049.000000,10.000000,180.000000