# The Questions

In [4]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


columns = pd.read_csv("recipeBool.csv").columns

## Bei Einrichtung
1. Frage: Willst du einen Thermomix verwenden?
2. Frage: Nenne Zutaten, welche du nicht verwenden möchtest.
3. Frage: Hast du irgendwelche Alergien?
4. Frage: Besondere Ernährungsweise?
5. Frage: Wie bewertest du folgende 5 Gerichte? (0-5)

Funktion zu Erstellung eines Userprofiles:

In [21]:
con = sqlite3.connect("RecipeDB.db")
ing_df = pd.read_sql("Select * from Ingredients natural join IngFamily", con)
ing_df.index = ing_df["ingID"]
ing_df = ing_df.drop(["ingID"], axis = 1)

tags_df = pd.read_sql("Select * from Tags", con)
tags_df.index = tags_df["tagID"]
tags_df = tags_df.drop(["tagID"], axis = 1)

alg_df = pd.read_sql("Select * from Allergens", con)
alg_df.index = alg_df["alleID"]
alg_df = alg_df.drop(["alleID"], axis = 1)

thermo = tags_df[tags_df["tagType"].str.contains("thermomix")]

In [18]:
alg_df.head()

,alleType,alleName,alleSlug
alleID,,,
57962a07b7e8697d4b3052f5,gluten,Weizen,weizen
57962a07b7e8697d4b3052f3,maycontaintracesofallergens,kann Spuren von Allergenen enthalten,kann-spuren-von-allergenen-enthalten
57962a07b7e8697d4b3052fa,milk,Milch,laktose
57962a07b7e8697d4b3052fd,mustard,Senf,senf
57962a07b7e8697d4b3052f6,egg,Ei,ei

In [44]:
ing_df

,ingName,familyID,familyName
ingID,,,
554b7698fd2cb96c628b4568,Arborio-Reis,58877cf3ed71a76e9c03fc1c,Reis
55a7a8f8fd2cb9570f8b4567,Arabisches Fladenbrot,58877cf3ed71a76e9c03fb54,Brot
556c4ed44dab710b3d8b4569,Apfelessig,58877cf3ed71a76e9c03fc4e,Essig
55535c2efd2cb9ae048b4567,Aubergine,58877cf3ed71a76e9c03fb3b,Aubergine
556db2a04dab71104b8b4568,Naan-Brot,58877cf3ed71a76e9c03fb54,Brot
...,...,...,...
5bf2c4e9ae08b5103d1caae2,Schinkenbraten,58877cf3ed71a76e9c03fc12,Schweinefleisch
5c1227bee3f33930ed6f7d42,Apfelsaft,58877cf3ed71a76e9c03fba2,Fruchtsaft
5c0e62fac445fa5e3d20aa72,Hühnerbrühe,58877cf3ed71a76e9c03fc39,Stock
5c1904c0c445fa108b691d62,Dorade,58877cf3ed71a76e9c03fb9c,Fisch
57cda483544b18f5018b4568,ungesalzene Erdnusskerne,58877cf3ed71a76e9c03fbe6,Nüsse

In [43]:
test = (False, ["Schwein", "Tomaten", "Schimmelkäse"], ["Laktose", "Schwefel"], ["Proteine", "fettarm"])
def create_Userprofile(tmix, ing, alg, tags):
    data = np.full([1, len(columns)], 0.5, dtype=np.float64)
    user_Profile = pd.DataFrame(data=data, columns = columns)
    user_Profile = user_Profile.drop(["Unnamed: 0"], axis = 1)
    for x in thermo.itertuples():
        user_Profile[x.Index] = 1.0 if tmix else 0.0
    for x in ing:
        
    return user_Profile

create_Userprofile(test[0], test[1], test[2], test[3])

,57d13370b7e8697d4b30530e,57d13370b7e8697d4b30530f,57d13370b7e8697d4b305311,57d13370b7e8697d4b305313,57d13370b7e8697d4b305314,57d13370b7e8697d4b305315,57d13370b7e8697d4b305316,57d13370b7e8697d4b305317,57d13370b7e8697d4b305318,57d13370b7e8697d4b305319,...,57962a07b7e8697d4b3052f7,57962a07b7e8697d4b3052f8,57962a07b7e8697d4b3052f9,57962a07b7e8697d4b3052fa,57962a07b7e8697d4b3052fb,57962a07b7e8697d4b3052fc,57962a07b7e8697d4b3052fd,57962a07b7e8697d4b3052fe,57962a07b7e8697d4b3052ff,5a95b0bbae08b555554f4b52
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

## Bei Normaler Verwendung
### 1. Option:
Empfehlung eines Rezeptes

### 2. Option:
Spezifischere Empfehlung durch folgende Frage:
1. Nenne Zutaten, welche du gerne verwenden möchtest.